<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <p>
      <h3>Thank you for your order!</h3>
      <h5>The details of your order are included in the table below </h5>
    </p>

    <%= render 'mailer_order_details', order: @order %>
  </body>
</html>