<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h3>Thank you for your order!</h3>
    <h5>To verify, the email we used was <strong> <%= @order.email %> </strong> </h5>
    <h5>The details of your order are included in the table below </h5>
  </div>
  
  <%= render 'order_details', order: @order%>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
